@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
body, html {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
  text-align: center;
  background: #000 url(tools/bg.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
body .canvas, html .canvas {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px 1px #bbb;
}


.buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
  width: 200px;
  height: 100px;
  background: #F2385A;
  position: relative;
  margin: 30px;
  top: 100px;
  padding: 16px;
  font-size: 50px;
  border-radius: 10px;
  box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
  transition: all 0.2s;
}

a:active {
  top: 108px;
  box-shadow: 0px 7px 0px 0px #f02046;
}

.button1 {
  background-color: #F2385A;
}

.button2 {
  background-color: #3498DB;
  box-shadow: 0px 15px 0px 0px #258cd1;
}
.button2:active {
  box-shadow: 0px 7px 0px 0px #258cd1;
}
